<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FANC.DXP.API.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <applicationSettings>
    <FANC.DXP.API.Client.Properties.Settings>

      <!-- The URI of the FANC API. Tests with this test client should ONLY be conducted on the UAT environment -->
      <setting name="ApiUri" serializeAs="String">
        <value>(INSERT URI HERE)</value>
      </setting>

      <!-- The username provided by FANC -->
      <setting name="UserName" serializeAs="String">
        <value>(INSERT USERNAME HERE)</value>
      </setting>

      <!-- The password provided by FANC -->
      <setting name="Password" serializeAs="String">
        <value>(INSERT PASSWORD HERE)</value>
      </setting>

      <!-- Enable compression of API requests and responses (recommended) -->
      <setting name="UseCompression" serializeAs="String">
        <value>True</value>
      </setting>

    </FANC.DXP.API.Client.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>